.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .nav-nb {
        height: 10%;
        // width: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // align-self: center;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 20px;
    }

    .h-body {
        height: 90%;
        width: 100%;
        display: flex;

        .side-nb {
            width: 17%;
            height: 100%;

        }

        .home-content {
            
            .top-left-project-div{
                height: 40%;
                display: flex;
                flex-direction: column;

                .heading-left-team{
                    font-size: 25px;
                    padding: 6px;
                    margin-top: 5px;
                    margin-left: 10px;
                }

                .ttt {
                    display: flex;
                    justify-content: space-around;
                    // margin: 4px 10px;

                    .ll {
                        height: 100%;
                        width: 40%;
    
    
                        .project-details-div {
                            height: 100%;
                        }
    
                    }
    
                    .rr {
                        height: 100%;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
    
                        .dd1 {
                            // height: 20%;
                            font-size: 18px;
                            background-color: #F4511E;
                            color: white;
                            padding: 4px;
                            width: max-content;
                            border-radius: 10px;
                        }
    
                        .skl-req-div {
    
                        }
    
                        .est-req-div {
                            
                        }

                        .team{
                            padding: 4px;
                            padding-top: 0;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid black;
                            border-radius: 5px;
                            // margin: 5px;

                            .title{
                                padding: 2px;
                                margin: 4px;
                                font-size: 20px;
                                margin-bottom: -8px;
                            }
                            .members {
                                margin-left: 8%;
                                display: flex;
                                // flex-direction: column;
                                flex-wrap: wrap;
                                gap: 2%;

                                .member{
                                    width: max-content;
                                    background-color: #33B679;
                                    color: white;
                                    border-radius: 10px;
                                    padding: 2px;
                                    font-size: 20px;
                                    margin-top: 8px;
                                    padding: 2px 12px;
                                }
                            }
                        }
                    }

                }

                
            }

            .down-left-project-div {
                height: 55%;
                width: 100%;

                .tasks {
                    height: 100%;
                    // display: flex;
                    // overflow: scroll;
                }
            }
        }

        .team-right {
            height: 100%;
            width: 60%;
            // background-color: black;
            border-top: 1px black solid;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .btns-right-abv {
                display: flex;
                justify-content: space-evenly;
                gap: 30px;
                margin-bottom: -10px;
            }
        }
        
    }
}